.imageCard {
  width: 100%;
  height: 240px;
}

.discrBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  color: var(--black);
}

.likes {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.author {
  text-transform: capitalize;
}

.userName,
.likes {
  font-weight: 500;
  font-size: 18px;
}
